<%= set_title "Configuración de rellenos" %>

<%= form_tag(url_for(action: :index), method: :get) do -%>
	<%= select_options_tag(:id, TipoRelleno.all_for_select, value: @value,
					prompt: t('helpers.select.prompt'), onchange: "this.form.submit();") %>
<% end -%>

<%= render_notice notice %>

<p>
	<%= link_to_new 'Nuevo valor', url_for(action: :new, tipo_relleno_id: @value) unless not @value.present? %>
</p>
<% if @rellenos.present? and @rellenos.any? %>

<table class="data">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Sintético</th>
      <th>Habilitado</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rellenos.each do |relleno| %>
      <tr>
        <td><%= relleno.codigo %></td>
        <td><%= relleno.descripcion %></td>
        <td><%= relleno.sintetico %></td>
        <td class="ac"><%= check_box_tag(:habilitado, relleno.habilitado, relleno.habilitado, :disabled => true ) %></td>
        <td class="action"><%= link_to 'Editar', edit_relleno_path(relleno) %></td>
        <td class="action"><%= link_to 'Eliminar', relleno, method: :delete, data: { confirm: t('helpers.destroy.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% elsif @value.present? %>
	<span class="empty">
		No existen datos de <%= TipoRelleno.all_for_select.select{|t| t[1] == @value.to_i}.first[0] %>
	</span>
<% end %>
