<%= form_for(@movimiento) do |f| %>
  <%= render_error @movimiento, 'El movimiento' %>

  <div class="field">
    <%= f.label :fecha_movimiento %><br>
    <%= f.date_select :fecha_movimiento %>
  </div>
  <div class="field">
    <%= f.label :cuenta %><br>
    <%= f.select :cuenta_id, @cuentas, prompt: t('helpers.select.prompt') %>
  </div>
  <div class="field">
    <%= f.label :transaccion %><br>
    <%= f.select :transaccion_id, @transacciones, prompt: t('helpers.select.prompt') %>
  </div>
  <div class="field">
    <%= f.label :observacion %> <small>(opcional)</small><br>
    <%= f.text_field :observacion %>
  </div>
  <div class="field">
    <%= f.label :importe %><br>
    <%= f.text_field :importe %>
  </div>  
  <%= form_actions(movimientos_path) %>
<% end %>