<%= set_title "Movimientos" %>

<div class="btnbar">
	<%= link_to_new 'Nuevo movimiento', new_movimiento_path %>
  <%= link_to_action 'Consultar movimientos', { action: 'consultar' }, { class: 'btnsearch' } %>
</div>

<%= render_notice notice %>

<table class="data">
  <thead>
    <tr>
      <th>Fecha</th>
      <th colspan="3">Cuenta</th>
      <th>Transacción</th>
      <th>Observación</th>
      <th>Importe</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movimientos.each do |movimiento| %>
      <tr class="<%= cycle("alt", "") %>">
        <td class="ac"><%= movimiento.fecha_movimiento.strftime('%d/%m/%Y') %></td>
        <td class="ac ctadetail"><%= movimiento.nro_cuenta %></td>
        <td class="ctadetail">Móvil <%= movimiento.nromovil %></td>
        <td class="ctadetail"><%= movimiento.nombre_cuenta %></td>
        <td><%= movimiento.transaccion_movimiento %></td>
        <td><%= movimiento.observacion %></td>
        <%= td_importe movimiento %>
        <td class="action"><%= link_to_edit edit_movimiento_path(movimiento) %></td>
        <td class="action"><%= link_to_delete movimiento, 'contrasentar', 
                                  '¿Está seguro que desea contrasentar este movimiento?' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="flickr_pagination">
  <%= will_paginate @cuentas, container: false %>
</div>
