<%= content_for :scripts do %>
  <script type="text/javascript" data-turbolinks-track="true">
    $(document).ready(function () {
      $('#cuenta_agencia_id').change(
          function () {
              var opt_seleccione = $('<option/>').attr('value', '').text('(Seleccione');
              var select = $('#cuenta_movil_id');
              var onDone = function (moviles) {
                select.html(opt_seleccione);
                for (var i = 0; i < moviles.length; i++) {
                  opt = $('<option/>').attr('value', moviles[i].id).text(moviles[i].nromovil);
                  select.append(opt);
                };                
              };
              if ($(this).val() !== '') {
                $.get('/cuentas/' + $(this).val() + '/getmovilbyagencia').done(onDone);
              } else {
                select.html(opt_seleccione);
              };
              return;
          }
      );
      $('#cuenta_agencia_id').change();
    });
  </script>
<% end %>

<%= form_for(@cuenta) do |f| %>
  <%= render_error @cuenta, 'El cuenta' %>

  <div class="field">
    <%= f.label :chofer %><br/>
    <%= f.select :chofer_id, @choferes, prompt: t('helpers.select.prompt') %>
  </div>
  <div class="field">
    <%= f.label :agencia %><br/>
    <%= f.select :agencia_id, @agencias, prompt: t('helpers.select.prompt') %>
  </div>
  <div class="field">
    <%= f.label :movil %><br/>
    <%= f.select :movil_id, @moviles, prompt: t('helpers.select.prompt') %>
  </div>
  <div class="field">
    <%= f.label :estado %><br/>
    <%= f.number_field :estado %>
  </div>
  <div class="field">
    <%= f.label :saldo_anterior %><br/>
    <%= f.text_field :saldo_anterior %>
  </div>
  <%= form_actions(cuentas_path) %>
<% end %>