<%= set_title "Cuentas" %>

<div class="btnbar">
	<%= link_to_new 'Nueva cuenta', new_cuenta_path %>
</div>

<%= render_notice notice %>

<table class="data">
  <thead>
    <tr>
      <th>Chofer</th>
      <th>Movil</th>
      <th>Estado</th>
      <th>Saldo anterior</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cuentas.each do |cuenta| %>
      <tr class="<%= cycle("alt", "") %>">
        <td><%= cuenta.nombre_chofer %></td>
        <td class="ar"><%= cuenta.nromovil %></td>
        <td><%= cuenta.estado %></td>
        <td class="ar"><%= number_to_currency cuenta.saldo_anterior %></td>
        <td class="action"><%= link_to_edit edit_cuenta_path(cuenta) %></td>
        <td class="action"><%= link_to_delete cuenta %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="flickr_pagination">
  <%= will_paginate @cuentas, container: false %>
</div>
